@import "../../../globals.scss";


.circuit-map-wrapper{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 20px;
    .map-wrapper{
        border-top: 7px solid $primary_red;
        border-left: 7px solid $primary_red;
        border-top-left-radius: 20px;
        display: flex;
        margin-bottom: 50px;
        img{
            width: 740px;
            height: 440px;
        }
        .left-map-details{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .right-map-details{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    .title-wrapper{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        img{
            top: 10px;
            width: 60px;
            height: 60px;
        }
    }
    
}
