@import "../../../globals.scss";

.drivers-wrapper{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    .title{
        font-family: $font-title;
        font-size: 33px;
        border-top: 10px solid;
        border-right: 10px solid;
        border-top-right-radius: 20px;
        h1{
            margin-left: 30px;
        }
    }
    hr{
        height: 5px;
        background-color: $primary_red;
        border-color: $primary_red;
        color: $primary_red;
        border: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .driver-cards{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 20px;
    }
    .pagination{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        font-family: $font-main;
        .MuiPagination-root {
            button {
              background-color: red !important;
              border-radius: 0px;
              border: 1px solid;
              font-family: $font-main;
              font-weight: 500;
              font-size: 15px;
           }
        }
    }
}