@import "../../../globals.scss";

.driver-card-wrapper{
    width: 380px;
    height: 350px;
    padding: 15px;
    margin: 10px;
    border-right: 2px solid $grey_background;
    border-top: 2px solid $grey_background;
    border-top-right-radius: 10px;
    hr{
        background-color: $grey_background;
        border-color: $grey_background;
        height: 1px;
        border: none;
        margin: 9px;
    }
    .card-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: $font-black;
            font-size: 41px;
            font-weight: bolder;
            margin: 0;
            padding-left: 10px;
        }
        .card-points{
            display: flex;
            flex-direction: column;
            align-items: center;
            p, h2{
                font-family: $font-wide;
                margin: 0;
            }
            h2{
                font-size: 13px;
                color: white;
                background-color: black;
                font-weight: 100;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 5px;
            }
        }
    }
    .card-center{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-wrapper{
            display: flex;
            h3, h5{
                margin: 0;
                padding-left: 10px;
            }
            h5{
                font-weight: 100;
            }
        }
        .driver-country h2{
            font-size: 20px;
            color: white;
            margin: 0;
            background-color: $primary_red;
            font-weight: 100;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
        }
    }
    .card-bottom{
        h5{
            font-weight: 100;
            margin: 0;
            color: grey;
        }
        .driver{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            #driver-number{
                font-family: $font-wide;
                font-size: 55px;
                margin: 10px;
            }
            img{
                max-width: 220px;
                max-width: 220px;
                object-fit: contain;
            }
        }
    }
}

.driver-card-wrapper:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);    
    transition: transform 0.5s ease-out;
}
