@import "../../../globals.scss";

.map-details-card-wrapper{
    border-right: 2px solid $light_grey;
    border-bottom: 2px solid $light_grey;
    border-bottom-right-radius: 10px;
    width: 230px;
    height: 80px;
    margin: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    h5{
        margin: 3px;
        font-weight: 100;
    }
    .value-wrapper{
        display: flex;
        justify-content: left;
        align-items: baseline;
        gap: 5px;
        h1{
            margin: 3px;
            font-family: $font-title;
        }
        h3{
            font-family: $font-title;
            font-size: 17px;
        }
    }
}