@import "../../../globals.scss";

.race-info-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    align-items: center;
    .text-section{
        border-bottom: 2px solid $light_grey;
        border-right: 2px solid $light_grey;
        border-bottom-right-radius: 20px;
    }
    h3{
        font-weight: 600;
        margin: 20px;
    }
    h5{
        font-weight: 100;
        margin: 20px;
    }
    img{
        width: 400px;
    }
}