@import "../../globals.scss";

.no-items-found{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.expandable-list-wrapper{
    margin-top: 50px;
    .item{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 20px;
        border-right: 3px solid $primary_red;
        border-bottom: 3px solid $primary_red;
        border-bottom-right-radius: 20px;
        .title-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            h1{
                font-size: 26px;
                margin-bottom: 7px;
            }
            h2{
                font-size: 20px;
                color: gray;
                font-weight: 100;
            }
            .item-end{
                display: flex;
                gap: 10px
            }
        }
        .content{
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s cubic-bezier(0,1,0,1);
        }
        .content.show{
            height: auto;
            max-height: 9999px;
            transition: all 0.5s cubic-bezier(1,0,1,0);
        }
    }
}