@import "../../globals.scss";

.popup{
    display: flex;
    flex-direction: column;
    .title{
        margin-bottom: 80px;
        h1{
            text-align: center;
            color: $primary_red;
        }
    }
    h2{
        text-align: center;
        color: white;
        font-family: $font-main;
    }
}

.reservations-wrapper{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    
    .title{
        border-top: 10px solid;
        border-right: 10px solid;
        border-top-right-radius: 20px;
        h1{
            margin-left: 30px;
            font-family: $font-title;
            font-size: 60px;
            color: black;
        }
        
    }
    h2{
        color: grey;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        margin-left: 30px;
        text-align: center;
    }
    .text-boxes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    hr{
        height: 5px;
        background-color: $primary_red;
        border-color: $primary_red;
        color: $primary_red;
        border: none;
    }
    .save-reservation{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .promo-code-discount{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin: 5px;
        h3{
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
            color: $primary_red;
        }
        h4{
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
            color: grey;
            font-weight: 100;
        }
    }
    .total-price{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        h1{
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 30px;
            text-align: start;   
            width: 100%;
        }
        #price{
            text-align: end;
            width: 100%;
        }
    }
}