@import "../../globals.scss";

.primary-button input {
    background: linear-gradient(
        180deg,
        $light_grey,
        grey
    );
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0px;
    color: white;
    font-size: 20px;
    font-family: $font-main;
    font-weight: 100;
    cursor: pointer;
}
