@import "../../globals.scss";

.secondary-button input {
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0px;
    color: white;
    font-size: 20px;
    font-family: $font-main;
    font-weight: 100;
    cursor: pointer;
}

.secondary-button input:hover{
    border: 2px solid $grey_background;
}
