@import "../../globals.scss";

.discount-banner-wrapper{
    margin-left: 10%;
    margin-right: 10%;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: $grey_background;
    display: flex;
    align-items: center;
    .stripes-wrapper{
        margin-left: 30px;
        margin-right: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        background-image: repeating-linear-gradient(
            -45deg,
            rgba(21, 21, 30, 0.3),
            rgba(21, 21, 30, 0.3) 8px,
            rgba(128,128,128, 0.3) 8px,
            rgba(128,128,128, 0.3) 10px,
        );
        h5{
            color: white;
            font-weight: 100;
            margin: 0;
            font-size: 22px;
        }
    }
}