@import '../../globals.scss';

.filters-wrapper{
    height: 100px;
    border: 2px solid $grey_background;
    border-radius: 5px;
    background-color: $grey_background;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    color: white;
    h5, h3{
        margin: 0;
        font-weight: 100;
    }
    .vertical-line{
        border-left: 1px solid grey;
        height: 100px;
    }
    .filter-title{
        color: white;
        background-image: repeating-linear-gradient(
            -45deg,
            rgba(21, 21, 30, 0.3),
            rgba(21, 21, 30, 0.3) 8px,
            rgba(128,128,128, 0.3) 8px,
            rgba(128,128,128, 0.3) 10px,
        );
        display: flex;
        align-items: center;
        h3{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .price-range{
        display: flex;
        .price-range-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 40px;
            margin-right: 40px;
            h5{
                width: 60px;
            }
            .slider-wrapper{
                display: flex;
                align-items: center;
            }
        }        
    }
    .disabled-access{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        .disabled-access-main{
            h5{
                width: 80px;
            }
            margin-right: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .giant-screen{
        display: flex;
        .giant-screen-main{
            h5{
                width: 80px;
            }
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .reset-filters{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}