@import "../../globals.scss";


.card-wrapper{
    .active-hr{
        margin: 0;
        width: 220px;
        border: none;
        height: 1px;
        background-color: $grey_background;
    }
    .inactive-hr{
        margin: 0;
        width: 220px;
        border: none;
        height: 1px;
        background-color: white;
    }

    .filter-day-card-wrapper{
        width: 220px;
        display: flex;
        height: 180px;
        h1, h2, h3, h4, h5{
            margin: 0;
        }
        h1{
            font-size: 50px;
        }
        
        .card-info-wrapper{
            padding-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h5{
                font-weight: 100;
                font-size: 17px;
            }
            h3{
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 15px;
            }
        }

        .card-price{
            display: flex;
            align-items: baseline;
            gap: 10px;
            margin-top: 10px;
        }
    }
    
    .inactive-card{
        background-color: $grey_background;
        color: white;
        .vertical-line{
            border-left: 6px solid $grey_background;
            height: 180px;
        }
    }
    
    .active-card{
        background-color: white;
        color: $grey_background;
        .vertical-line{
            border-left: 6px solid $primary_red;
            height: 180px;
        }
    }
}
