@import "../../globals.scss";

.reservation-section-wrapper{
    hr{
        margin-left: 2%;
        margin-right: 2%;
    }

    .reservation-elements{
        height: 470px;
        overflow-y: scroll;
        h2{
            font-size: 15px;
            text-align: center;
        }
    }

    .sort-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-size: 12px;
            font-weight: 100;
            color: gray;
        }
        .sort-combobox{
            display: flex;
            gap: 10px;
            align-items: center;
            h5{
                color: black;
                font-weight: 600;
            }
        }
    }
}