@import '../../globals.scss';

.reservation-card{
    border-right: 1px solid $grey_background;
    border-bottom: 1px solid $grey_background;
    border-bottom-right-radius: 20px;
    padding: 15px;
    width: 420px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    .left-info{
        h3{
            font-size: 17px;
        }
        h5{
            font-size: 12px;
            color: $primary_red;
        }
    }
    .right-info{
        display: flex;
        flex-direction: column;
        align-items: end;
        s{
            color: $primary_red;
            font-size: 13px;
        }
        .reservation-price{
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }
}

.reservation-card:hover{
    border-right: 2px solid $primary_red;
    border-bottom: 2px solid $primary_red;
}