hr{
    margin-left: 12%;
    margin-right: 12%;
}
.main-book-reservation{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.cart-book-reservation{
    display: flex;
}