@import "../../../globals.scss";

.cart-card-wrapper{
    border-bottom: 1px solid $grey_background;
    border-left: 1px solid $grey_background;
    border-bottom-left-radius: 15px;
    display: flex;
    width: 95%;
    height: 120px;
    margin: 10px;
    .item-number{
        height: 100%;
        text-align: center;
        width: 90px;
        font-family: $font-wide;
        font-size: 50px;
        color: white;
        background-color: $grey_background;
        border-bottom-left-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-data{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;
        .left-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                font-size: 17px;
            }
            h5{
                font-size: 12px;
                color: $primary_red;
            }
            .quantity{
                display: flex;
                margin-bottom: 10px;
                gap: 10px;
                align-items: center;
                button{
                    background: transparent;
                    background-color: $primary_red;
                    border: none;
                    cursor: pointer;
                    border-radius: 50px;
                    width: 27px;
                    height: 27px;
                    padding: 0;
                }
            }
        }
        .right-info{
            display: flex;
            flex-direction: column;
            align-items: end;
            s{
                color: $primary_red;
                font-size: 13px;
            }
            .reservation-price{
                display: flex;
                align-items: baseline;
                width: 100%;
                gap: 10px;
            }
            h3{
                width: 100px;
            }
        }
    }
}