@import "../../../globals.scss";

.cart-items-wrapper{
    width: 100%;
    height: 800px;
    margin-bottom: 40px;
    margin-left: 10%;
    padding: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    h1{
        width: 100%;
        text-align: center;
    }
    h2{
        text-align: center;
        color: $grey_background;
        font-size: 18px;
        font-weight: 100;
    }
    hr{
        margin: 3%;
    }
    .items-section{
        height: 500px;
        overflow-y: scroll;
    }
    .early-bind-discount, .promo-code-discount, .early-bind-discount{
        display: flex;
        justify-content: space-between;
        margin: 5px;
        h3{
            font-size: 15px;
            color: $primary_red;
        }
        h4{
            font-size: 15px;
            color: grey;
            font-weight: 100;
        }
    }
    .total-price{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        h1{
            margin: 0;
            font-size: 25px;
            text-align: start;   
            width: 100px;
        }
        #price{
            text-align: end;
            width: 100%;
        }
    }
}
