@import "../../../globals.scss";

.customer-info-wrapper{
    position: relative;
    width: 100%;
    border-top: 1px solid black;
    height: 800px;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    h5{
        color: $primary_red;
        padding-left: 20px;
    }
    .title-info{
        width: 100%;
        hr{
            margin: 3%;
        }
    }
    h1{
        width: 100%;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .first-last-name, .address, .country, .promo-code{
            display: flex;
            gap: 20px;
        }
        .promo-code{
            align-items: baseline;
            gap: 10%;
        }
        
        h5{
            font-weight: 100;
            color: gray;
            width: 100%;
            margin-left: 10px;
            text-align: start;
            margin-top: 10px;
        }
    }
    .send-button{
        margin-top: 50px;
    }
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    h2{
        font-family: $font-wide;
        color: white;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    h3{
        color: white;
    }
    h4{
        color: $primary_red;

    }
    h5{
        font-weight: 100;
        color: white;
        font-size: 12px;
    }
    .popup-promo-code{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .popup-token{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
