@import "../../globals.scss";

.driver-stat-card-wrapper{
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: $grey_background;
    align-items: baseline;
    margin: 20px;
    h3, h4{
        text-align: center;
    }
    .stat-card-text{
        margin-left: 10px;
        color: white;
        font-size: 22px;
    }
    .stat-card-value{
        background-color: $primary_red;
        width: 120px;
        font-size: 22px;
        height: 80px;
        color: white;
    }
}