@import "../../globals.scss";

.driver-info-wrapper{
    background-color: $light_grey;
    margin: 0;
    display: flex;
    .main-info{
        width: 100%;
        hr{
            background-color: $grey_background;
            border: none;
            margin: 20px;
            height: 1px;
        }
        .top-main-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 350px;
                margin-left: 100px;
            }
            h1{
                font-family: $font-wide;
                font-size: 35px;
                margin-right: 100px;
            }
        }
        .info{
            display: flex;
            justify-content: space-around;
            .birth-info{
                h3{
                    font-size: 20px;
                    color: gray;
                    font-weight: 100;
                }
                h5{
                    margin-bottom: 100px;
                    font-size: 25px;
                }
            }
        }
    }
    .biography{
        margin: 50px;
    }
}