@import "../../globals.scss";

.driver-cover-wrapper{
    width: 100%;
    height: 408px;
    background-image: linear-gradient(grey, white);
    display: flex;
    justify-content: space-between;
    .cover-right{
        margin-right: 100px;
        display: flex;
        align-items: center;
        h1{
            margin: 0;
            font-size: 200px;
            font-weight: 100;
            color: whitesmoke;
            position: absolute;
            transform: translate(-40%, 0%);
        }
        img{
            z-index: 1;
            height: 410px;
            position: relative;
        }
    }
    .cover-left{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .name{
            display: flex;
            h3, h5{
                margin: 0;
                padding-left: 10px;
                font-size: 40px;
            }
            h5{
                font-weight: 100;
            }
        }
        .driver-country h2{
            margin-left: 50px;
            font-size: 25px;
            color: white;
            width: fit-content;
            margin: 0;
            background-color: $grey_background;
            font-weight: 100;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 5px;
        }
    }
}