@import "../../globals.scss";

.bottom-slider-wrapper{
    background-color: $grey_background;
    height: 65px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    .vertical-line{
        border-left: 1px solid white;
        height: 30px;
    }
    .bottom-slider-element{
        button{
            background-color: transparent;
            border: none;
            font-family: $font-main;
            font-size: 16px;
            color: white;
            padding: 10px;
            position: relative;
        }
        button::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: $primary_red;
            transform: scale(0,1);
            transition: transform 0.5s ease-out;
        }
        button:hover::after{
            transform: scale(1,1);
        }
    }
    .active-bar{
        button::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: $primary_red;  
            transform: scale(1,1);
        }   
    }
    .inactive-bar{
        button{
            border-bottom: none;
        }   
    }
}