@import "../../globals.scss";

.footer-wrapper{
    background-color: $grey_background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    img{
        width: 160px;
        margin-left: 2%;
        padding-top: 7px;
    }
    p{
        color: white;
        font-size: 13px;
        padding-right: 2%;
    }
}