@import "../../globals.scss";

.background-image{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-hero-background{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: table;

    .title-hero{
        font-family: $font-title;
        text-align: center;
        font-size: 55px;
        color: white;
        span{
            font-family: $font-road;
            font-size: 80px;
        }
        .hero-date{
            font-family: $font-main;
            background-color: $grey_background;
            padding: 10px;
            display: inline-block;
            font-size: 17px;
            border-radius: 20px;
        }
    }
}

