@import "../../globals.scss";

.top-navbar{
    display: flex;
    justify-content: space-between;
    background-color: $primary_red;
    width: 100%;
    color: white;
    img{
        width: 160px;
        height: 80px;
        padding-left: 2%;
    }
    ul {
        padding-left: 80px;
        display: flex;
        gap: 10px;
        li {
          list-style: none;
          a {
            position: relative;
            display: block;
            text-transform: uppercase;
            margin: 10px 0;
            padding: 5px 10px;
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: .5s;
            z-index: 1;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-top: 2px solid #262626;
              border-bottom: 2px solid #262626;
              transform: scaleY(2);
              opacity: 0;
              transition: .3s;
            }
            &:after {
              content: '';
              position: absolute;
              top: 2px;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #262626;
              transform: scale(0);
              opacity: 0;
              transition: .3s;
              z-index: -1;
            }
            &:hover {
              color: #fff;
              &:before {
                transform: scaleY(1);
                opacity: 1;
              }
              &:after {
                transform: scaleY(1);
                opacity: 1;
              }
            }
          }
        }
      }
}

.time-wrapper{
    display: flex;
    padding-right: 2%;
    gap: 5px;
    align-items: center;
    .time-element{
        height: fit-content;
        width: 60px;
        padding: 5px;
        border-radius: 6px;
        background-color: #262626;
        text-align: center;
        display: inline-block;
        font-size: 22px;
        .time-text{
            font-size: 12px;
        }
    }
}

