@font-face {
    font-family: 'mainFont';
    src: url("./Fonts/Formula1-Regular-1.ttf") format("truetype");
 }
 $font-main: 'mainFont', sans-serif;

 @font-face {
   font-family: 'blackFont';
   src: url("./Fonts/Formula1-Black.ttf") format("truetype");
}
$font-black: 'blackFont', sans-serif;

 @font-face {
    font-family: 'titleFont';
    src: url("./Fonts/Formula1-Bold_web.ttf") format("truetype");
 }
 $font-title: 'titleFont', sans-serif;

 @font-face {
    font-family: 'roadFont';
    src: url("./Fonts/MaccosDoubleDemo-mMex.ttf") format("truetype");
 }
 $font-road: 'roadFont', sans-serif;

 @font-face {
   font-family: 'wideFont';
   src: url("./Fonts/Formula1-Wide.ttf") format("truetype");
}
$font-wide: 'wideFont', sans-serif;


 $grey_background: #15151E;
 $primary_red: #E10600;
 $light_grey: #D0D0D2;
 $blue: #3671C6;
